p.borda{
    border-style: solid;
    border-color: blue;
    border-width: 5px;
}

p.margem{
    margin: 100px;
    border-style: dashed;
    padding: 50px;
}

p.propiedade{
    margin: 25px;
    border-style: dotted;
    padding: 20px;
}

.imagem{

     width: 25%;
    height: auto;
}

.center{
    text-align: center;
}